@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 248 33% 97%;
    --foreground: 248 28% 20%;
    --card: 0 0% 100%;
    --card-foreground: 248 28% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 248 28% 20%;
    --primary: 248 100% 71%;
    --primary-foreground: 0 0% 100%;
    --secondary: 248 20% 94%;
    --secondary-foreground: 248 28% 20%;
    --muted: 248 25% 94%;
    --muted-foreground: 248 10% 47%;
    --accent: 248 50% 95%;
    --accent-foreground: 248 100% 45%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 248 30% 91%;
    --input: 248 30% 91%;
    --ring: 248 100% 71%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 248 30% 7%;
    --foreground: 0 0% 100%;
    --card: 248 30% 9%;
    --card-foreground: 0 0% 98%;
    --popover: 248 25% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 260 90% 76%;
    --primary-foreground: 248 30% 10%;
    --secondary: 248 20% 14%;
    --secondary-foreground: 0 0% 98%;
    --muted: 248 20% 14%;
    --muted-foreground: 248 15% 63%;
    --accent: 248 20% 15%;
    --accent-foreground: 260 90% 80%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 248 20% 15%;
    --input: 248 20% 15%;
    --ring: 260 90% 76%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
